USE [acm_family]
GO
/****** Object:  Table [dbo].[checkIn]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[checkIn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account] [varchar](10) NOT NULL,
	[address] [varchar](20) NULL,
	[port] [int] NULL,
	[check_time] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[body] [varchar](max) NOT NULL,
	[time] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_feedback] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[log]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account] [varchar](10) NOT NULL,
	[address] [varchar](20) NOT NULL,
	[port] [int] NOT NULL,
	[login_time] [smalldatetime] NOT NULL,
	[logout_time] [smalldatetime] NULL,
	[flag_login] [bit] NOT NULL DEFAULT ('1'),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[student_task]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student_task](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account] [varchar](10) NOT NULL,
	[task0] [bit] NULL,
	[task1] [bit] NULL,
	[task2] [bit] NULL,
	[task3] [bit] NULL,
	[task4] [bit] NULL,
	[task5] [bit] NULL,
	[task6] [bit] NULL,
	[task7] [bit] NULL,
	[task8] [bit] NULL,
	[task9] [bit] NULL,
 CONSTRAINT [PK_student_task] PRIMARY KEY CLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[student_user]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student_user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](10) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[portrait] [varchar](max) NOT NULL CONSTRAINT [DF_student_user_portrait]  DEFAULT ('iVBORw0KGgoAAAANSUhEUgAAAKsAAACrCAIAAACWivtOAAAAA3NCSVQICAjb4U/gAAAgAElEQVR4 nOx9d4BVxdX4mXtff2/3be+VtlSpUqQpggURFewGuzHGEks0JljIFzUaE2skKop+ioolYIkiIqAI 2EG6LG2X3WUb23ff7iv3zu+PuTP33Ln3rX7f98fvj2RC1vvmTjlzzpnTplxCKYX/pH/jpPz/BuA/ 6f9z+g8H/Lun/3DAv3v6Dwf8u6f/cMC/e/oPB/y7p/9wwL97+g8H/Lun/3DAv3tyiSdd1wkhAEAp JYSwWCHLYZlSTcdXuKLIx8/9VBTPybpm7UgtY5DYW5av67pUy7FxXEsCAHch+rXDwMrgHnEtaSCK ouBi9oQrOqKFJUVRxE/cSz+4EnBKPZoyQFEUqVdWnzWEM3F9O/mlAiJT0MY+QgEo6w5sDITJIHKS YQc4N9thFpCI7qTeJWQ5kt8RofaB40ZwR6KWhHBcEo8L40T81XVd5IOVTUXLyXAlJZMDBHAssVYU RcEDwEBg/LLyjMfxM/uJiSRYSmAEI6J/ukrsgssQQhobG5ctWzZ9+vTc3Ny8vLzS0tLrrrtu/fr1 bW1tYmgMMDE6sHKtgJY9CEhEPoZWYBkDzFomfOZIY8QkEejtZ/jirYBHoFfk2HmXVbEzTTI+UBxx LeU4ThGBEda0rutiMNKEEONXeJL4DD/gcUrIxQ0KkEQxTdOysrKKi4u7u7ubm5tramqWL19+3nnn LViw4IMPPohGoxgYxyHYsYPzpVmRDF3sAZNW5AuY7YrAPp0kVksGm4RSqUE7ER2Sruu6rmuaRq2J yRn2VsoX5XEtqSR71jRNymc57K+9zWSF7bBJUImS0Wj0008/nTRpEkaHy+V64IEHent7RUnWCAZG JNEFHiN+JfJFO9K4pMKigCiMG5GGIOqKnxKupMI/iSsMg2NSlyxZYhfUgoPscoZazQKJ3dhbYVQS q4KnaMLhkhTpM2pVt2LCSYYqBkY8sMIDBw485ZRTjh49+uOPPwou//rrr91u98SJE1VVFfALbYWb EvLMPgQ8UzHGkskqatV3Ur7UGs7BfUmKmMkPATNFshBsoh6DR50sFQAwWhRN2+tL5qsdSlyXIqPJ PhjRArUqFEFdCUeYwOIVI1tPT09ra2tjY2M0GlUUJTMzMzs7OxwOC3x1d3fPnTt38+bNoqLH4/nX v/516qmnOrKgHUgAkBwKAQB7wG8xGXCb4q94JegkdS16xHa+wAajAvvriBlBezxVpFoSfY2KuDOJ EoJVHfPFM1jFABuABKIdIxKUjuzJ3uIuWMmurq4nn3xy9erVR48ejcViiqKkpqYWFxfPnj37qquu KikpYWB8/PHHZ511Fmbfiy+++LXXXpMkjUQGe3eOIkqqjpkDyww83YUUdOQSSSL2gyvHtxhpFgLb /CAHLLPkqIREkrRUP+rT3g5WafakW/Xxz/zb19e3c+fO66+/Pj09HQ9n+PDha9as6e3t1XU9Eomc ccYZ+G1eXt7Ro0cFMNRqDQh4cAGsX/sfiDQoeyMYk8n+Juv95/y1Y1U0IjKpLYEdLExLgSOJWsn4 g9rMOgkax4r2Nu3okAqwgfX19X399deTJk3CZE5NTX3qqadYj+vWrcO2tMvlWrlypYQvqRdqs8Ik nIpXUnVHsAUB7K1J5e30c8SkI26lTDEQMRxMIAcOwOQR5NdsVqV9GNTmMthxIQ0YswgG1JEG9pFg /Ir8ffv2FRcXYyZIT0/funWrpmktLS25ublYJP7ud7/DiNBtRrsjriWKSrUc4ZdQL6EIo1GzuVR2 VqM290GCCo/FLoz7SRZ3nNoMNFln8Fc4SCL9ZQm7s9isxY1IhgJWWtJPajO5ARliQ4YMef/99wsK CsSrtra26667rqmpKRQKhcNhkU8p7ezstLcA1jgBdgSkgeOf1OqJALID7EOW0CXFSCRUY4pgnIif rDxFFgNNov4xAh2TJSIktSVsFsZHIlADyGaUokCYrhKN7cVEkjgP44tYI/yOBiMhZMyYMZdffjnO 3LNnz5o1a6TyiqIMGjQIkNEqOsI4FdgQPeKuJTCkIYifOrLqJV7HIUKGcIL8KYmrCA9l4sYJ9y8w GgFFi+3kSDafXaIzarUqRSuiex35FVKgSuJiajWn7TyO85NFEjH2cUXBppLAOO+88x5//HER+wOA zz77bPbs2a2trRjOaDT68ccfU0oDgYDH48nIyEhPT09JSXG5XG632xFHElrs+XYE2g1+sEX3dKsH 5Bj7SxYQtKMFZ0qTCqwrSXIV3errY5IAp5NUR+dBCR1FJ8BKQlFRcANGh/gpuAQQ1jDLi/khxqZb w03ib3d395QpU3bv3i3gTE1NzcvLq6ysdBy5qqqKogSDQb/fn56ePmjQoEmTJlVUVAwfPjwnJycY DHo8nmSj6x8/jvn9INYuJwQ5xLN9UuF27PLm5yd5lQy/E/ilaEUEvwIrXpLhCItNR3WF6Q1OjIhl LH5mDz09PdXV1Rs3bnzkkUdqamr+R+OXksfjSU1Nzc/PHz58+IQJE6ZPnz58+PBQKITHlYzqODmi QkpSO9FoNBaLEUJ8Pp/LZa7aJ2vqf0dvezIRKs0zzGVC60g/pblrF9eiHcGkFEVhMeEdVaY0YElm 9PX11dfXb9my5aWXXvrqq6/6+vr+j7iwJ5/PN2bMmAsvvHDu3LlFRUU+n0/hq4vUGstypBO1hQLt sq2zs3P37t3/+te/9uzZ09LSoqpqYWHhpEmTZs+ePXDgwEAgIIaMO7JPCbseF0mSuPJbCThhIunW gKiEfcd5Lz1LwUEswCURgrEpyXbBKDjA2dHRsXbt2tWrV3/99dfHjh2Lx+M/h5yEgKIAY2xFATY+ XQddh+SWMgCAy+XKzc098cQT582bd9ZZZ+Xk5ADiVAyqPR+s2gqjuqur69VXX3399dd3797d1dWF e1QUJSsr66STTrrhhhtmzZrF1jLwHOu/R7AtHOBMGS2Yolid2IVtMr6zB6slKLHiF+TErUmGhSRj RHk2Yz7++ONHHnlk586dyUwb4MR2ucDjAZ8P/H7w+cDtBkUBQoy3jPCUgq5DIgF9fdDbC319EI1C IpGULYYOHXr//fefeuqp6enpqqomowfGmGPO/v37b7nllk8//bSfUbCB//73v7/jjjvC4bBAo+S6 S7PXrspFMftbkCxBsM5OAJCe7QJHMoMxNHhCg02wO8r8fvg6Ho+/+uqry5Yt27FjBzb4pRQMQkoK BALg9YLbDS4XsCFTCoSYfwEsDwgq0DSIxyEahUgEuruhu1tmBUVRxo0bd+mll1555ZVpaWk/ORb7 0LZu3XrDDTfs3r1bFPD7we8HVQVdN7oWZHG5XPPmzXv66acLCwvBJnXshpGEcCGJIYk7TYQfLN45 EkwIZBypkDw6yRSQOnOUAXYlgnUNaySRSPzwww833XTTN998A06JTfesLMjKAmFCic7FODAHOJIf FxblNQ2OH4eWFojFQHJpx44d+/TTT48fP97r9cJPqTmBw2+++WbBggX19fUM8pQUyM8Hv98QTgyG RAKam6G5GRIJo685c+asWLEiOzsb48quZSTPBRfD6MWJsBgCbkjQwHFGOtIAbLS0GwGOakWCD6xS BACqq6sff/zxN998s6mpyd6pxwNpaRAOQzBoSHhMb0FRzA0/nwNwI7oOkQh0dkJbG2ABFAqFFixY sHjxYhZowhYPtgEFxx85cuSCCy7Ytm0bAASDkJ8PKSkmDJJ86uuDhgZg4QyXy7Vo0aInnngiFAqB dZZi7Qk25oDktDc6tdsBjnYj5u5+dgxge83us9pVlN16wGJ/27Ztv/71r7dv326H2+OBjAzIybHI eUhCeN6diVzMK7iWlC+9AjBm5/HjEIuZZQoKCp544on58+d7PB5qtf/xoNra2s4///zPPvsMAFJS oLzckFjJ9BH7eewYNDQYBR588ME777zT5XI5mlxgnUiAHM5+PFhjjxB2BTFFJSKJBynaT5122kgg Kmh3kLRqIAoLXROJRB599NFbb7318OHDEsQeD+TlQWEhpKcDN8VMEYqRKCEU5ySTZY75uGVFgVAI 0tLA7YZYDDQNAKCrq+uTTz5paGgYP358KBQS6lIa2nPPPffSSy9pmpaaCqWlYI9A2vkPAIJBAIDu bgCA/fv3T58+vaioiNgSb8EiyCVh4CgG5JigXVaz5MhNdhcAS6f+dYfdAhAVm5qabr755lWrVmkM wQhBqalQVARer4w1Sf47zmapKbsM4MA4SwK77ohG4dgxaG837YNZs2YtX74cL1SKMTY1NU2YMKG2 ttbvh0GDZPJTAGIDDENVVQUtLQAAZ5xxxjvvvBMMBvsxOeHnhaRYkiWDaEtaVRRv7SIOnJhLqgh8 cYKiRUxHgPbv33/FFVe8/fbbEvm9Xigrg/Jy8Pl+zrgwbOaDXU5w2Ay89x8YkKp4PFBaCuXlxjQF gI0bNy5cuPDzzz8H63bhRCLxhz/8oba2lhAoKAC32wCGUiBECQdTi7Ozs9PSVeLSqaUL8S8vzxj4 +vXr//nPfzrin2G1f/TaU9Il4J9vA4LVHCU2LwWssqGftGvXroULFx48eNDaOKSlQUmJaec7zhKh OKUc/FfKt7fwP0qiEU2DujpoaTF+lpaWvvbaa1OmTBFI27Zt25w5c9ra2nJyoKjIpP2QouILZ82c esIJfq83rmnbKyvfWLdh56GDCS1h92Xa2+HIEaAUZs6cuXr16rS0NAnJ1rE72ODgNFfV+++/H7/G 2l3SLlJ9O1v0b3M6sogorOv6999/f/nll+/fvx/XcrmgqAjy80FVk5pv+Cfvy9K13diWkpANPyk4 HaUIc+p8PujpAV2Hjo6OTz75ZODAgYMHD2ZG0rPPPrtu3TqvF0pLweUCSsHr8Vwye/ZvL7lo3KBB QY/H61J9bld5Xt700SeEQ8Fdhw/HEwkJKq8XolHo7YXW1taTTjpp0KBBdjvaCqqpZEWOvbDl6AxY hb+oY2c0rBdwl8KUk6pgS0T4irjl3bt3z58/f8+ePbiW2w1lZZCdbYRyMbHt5E9GdeCTHkuCftTB z+EDOySKApmZMHAgeDwAALW1tTfeeCPbp9TR0bFy5UpKKbMfKQVCyIIZM3997vyc1FSFAAFCAYAC AZoWCC6aM+fmhQs9bg/WAqyvrCxQVejq6nr++efZJiJAAhisUXZhyNuNd5wUXAI4FQUh4admNiCX AWwRMdECICawcy7DV0NDA27W74eBAyE1NSkNMMnFczI+kPLtP3GD/cgJ+wOuFQjAoEEQCgEAHDt2 7PLLL9+6devatWsPHz6sKJCVZZScfsKoa+ee6VYUAgAUNcYYgdJ5kyfPnTxZp5a+CIFAwLA51q9f v3//foZDKXIjhfgwdRyTQq3bA/lgLFNctG7XKII5REnMBNJclwxD9qq1tfWaa67ZsmULBsvrhQED IBBwno7UhhpJzospLmZPsknv2DggIYHblyQNYxpJZvh8UF4Ofj8AQHV19S233PLMM8/oup6RYZhy eZkZt19wQVooSAihhFAglFAAoyH2x+/13LTwvAH5BRIvqipkZgIAdHZ2vvvuu8DtTSyqpWfxV4T+ pGQ5b4YfpD19YA02gY3YgKQFJrlEfkkn9fb2LlmyZN26dRimYBAGDwafz4FgjoT8mb6+1Ih4Tla+ /15EXTtWPR4YNMiQXjt27NiyZYsQAJTCWVOm5HNpQJx6oZQSgLRA4Iozz3Bz61eIqHDYYK8vvvii p6eHvWU7+bAKxs/9uwaWzUOS/HcU7IDCOzjfPsutA5NZgcmrlStXvvjii7ik2w0lJYY2FYPnHZl/ nbowMYV1p5DVdisSJ0mW2J3DZFakBCFrweOB4mKDVJRSnw98PqAU0kIp86dNUxUFGMIMWM1eGRQA QIBOGzm8MCtbglZVgW19raysbG1tFbRHcJp6Fk/jpHYAGgYVRfHqrbSSi6e4aFQIImFMKNYDwriA wg92ffnll4sXL+7t7RUwuN2mCAUkZvHPZBaA9NxPklR+/3R17LSfuqIWs/xZ8MrvN4zZ+TOm5aen S6Y1AQBKQIBkNA3hUOicqSfZxxUKgaJAXV0dX16yGHMEJUBqIhk2LCvNjKH4SKgwDrCQx29xhAds MR/WGrYPsGjq6el55JFHJOsvPx9CIQcLy0SW1aeXxuUkUZPS21Gp/yQP9V9GkhzBIBQWGoFkAAj5 g2efdJJCCAWD7BSAAlDmBgBQ5hQYmaAQct70aUEeAmMAUwo+H6gqxGKxr776ir0S1h+W+YKa4q+z HcBBN40I3p/F9adWexKXtM9v4JrCeVMKIQDw1ltvbdy4EednZUFGxk+47BK6+7fwHWvhwj/HMPy/ JEohNRXy8iAQAAAoy8/PTQsDpQQ4qa3FGecL9wCABv3+mWPHiNZYYjtfAGDTpk2SxSeZ4RLJHIGU L3OwDsByDwg2C7CcwYxm70nyERiUR44cWbx4sTBkACAYhJISUBQHgwvQfP2Zch71/r9/+39MIk7A lv8phZHl5T63G4DZ/0AAK31qcgXLAQKUECDTRo5S5b35hqL84Ycf2AlJ1KlBIyzLBfl+wg5wGoO8 I5E6eZbC5QNObzz7sX5iOfF4fOnSpVj+KwqgAz8M7v5+/t9T/+rj5zciuQaOiQGv6TC+YrBJS2rq ezbpRUCA6QSDDYCW5ecFfQGpTRYVOHr0aHd3tyNFhEGGwHBGohkFsrsNlG8E4iN0ZgKsfgQfCFWE XQCWmpub33rrLdxCRgakpDij73+d+qeNo6RxzOmnzZ9jE4ikUzJqQLlBXVPds7aAMEOAyQRCqLAH AbLT0jLCqRIATK0kEona2lqsCMBmjYlMibgiWWQAph+WHqJdrCzshAdEe7DFD9izruvLli2rra0V nfp8kJ+fFI8/M/3vlPr/Qqf045FKXquUPC6obToOTM/L/RKdQCwRj8VjCV2TXoZ8/oLMLEkJulyG c3HkyBG7+rcLALtZIJIL63VqiypjPrBPa/vOHzs/Yu0AAPX19Q8++CCCGLKy5MVyYl24S0Ynu8sg +Y24NVEYW5qEyDmUyuWl9JPmSPL4En1t3frhZSUesa0FAAASmtba0tLc3ByLxQCAEBIMBvPy80PB IEOd2+0qycvZstsyOrY1MhaDtrY2XdfxrmVpoguyJgPYZc/CU1+y/uwtSrvK8EZmzE/CXXn55ZcT YvsjgNcLaWnJYEua7NIYnFDfT7Avmbsh5RMCOgWg4Pf6MlJTctPTgz4/AMQTidaujsa29u7eSELT FaeuBVSCab7dt3dvTe2Y8jL2O6FpTY2NLS0tMbzjDKCzs7O7uzstPb2osNDtdhNKR5aVAigApsWn qsb+qK6uLhx6t3tz9s15UjJOjkq5WJKDbWZjOQFO91tiCLBo6e7u/vjjj3FHeXlm+O9/avDbp69o B5cBJzEglbErdfbsdXvK8/POnj5txqhR6enpbgCFG2wJSiN9fbsOH1n/7bdf7NzZFYlwLneGCgA6 eyNvfrJu5HXXuBQlGosdOXKkp7tbSF8OPQCAruutLS2JeHzAgAGqqhbl5QEQaYBMC7AL0vDGTEws fFQrGR+4wDrRkyWJzPZdyYBIbj9vxJ4PHDiwd+9e0WYgIAsAe5QmmcbtR0EkG4dd1DtWYc9poZSz pkw6ZcyYitJSv9sNQIShDkAJEA+Ax+ebPmL4lGFDm1pbv9yz54OtW/dUVSextwAAFAIbf9ixt7p6 WFFRU2NjKBjMyc52ud0EIB6Pd3d3t7e1xxNx5gkCha6uruPHj+fm5oaCQb/H1RfTMIRMBnR3dzMy C0mA+Qmv9zrDhLWAhRNtPh6ODLICQvhLq9R2gQGcLdatW9fW1ia6SEsDVZWnoKSn+0lYizuaDjjH bgc4dkQpEEIGFxXdd8UVFcVFCrfXCTG8NqMSodyJpy5CCrKyFs6Ycebkya+u/eSVtZ/EErFkPBpP xNd/9315VlZ+fr44Hsoaz8jIyM7Jqa6qikQiQI3/1dfXZ2RmhrzekM/fG43isfD2TSEtPeB5T5If HZSvARDGpGTVI7xbSEvRKpFkEmJ7EAA6OzvfeecdUUBVLWv/xLoIK2n6n+l5Y+oS4kwDqTxYye91 e64688ylt906tLgYa3dq+O+EEmKEa/gLMPiBBLzeq8+a++ivbxhaUk6SBCgVBb7bv18jxMXkinVg fp+vfMCAlJQUCgb2NE1rbWlRFUVVVQynSBkZGZhYeNJK+E+W5DPuYL212O4WinkvsUUyUSMAqqys xIf7vV55zyelln+OORgF/Uh7/ErS8bhlqd9wKHT/VVf86pz5acEQAFBKqIVC/IEIdcDGTCgxmnAr yknDhz38q18OKSmx25Wsl+qGhkN1dUx+sCzK9wkDgM/rLSkt9bjdlFK2XtDV1RXweAJWZFFqbFB2 u9140tptMmyPOxLI4WIfghJ+K9qlPFqcLBKA9YUA67vvvsNGb3q6GQOWCJYs2U08KUlcQpOXtKeg z3/XJZfMGT9OwaPGazUgaAZ8IU/0AVgwFGak//WGX00dOcoR432x2LrvvtPx/OFtMiPT6/Vm5+YS wgLGEI/HKaVgW0lgHIBvSQJOb0w+bB46JoebCoTnptjOxwsdLw5DgXVFgD0nEgkhTgjfKYT3ABIC 4bCDIw42bnC01yRlrxDidrtS/YGi7KzBRUXZaWlZaWlAaWNb27GWlsqamub2ju7eSCyekFoWDXpc ntsvvOC0E8crwpYGk7iEP7AnQoHyFX3+llGLGwcE8jMz7rrk4puffLq60bL4yfr9eu++rkgkHAoa xiUBMC9yoEAhHA431Nez/fKUUk3XqeiSo4Jtpmf3Z2FTTNDIURiALbmkd1hoAOIg8dPeGSvQ3t6+ Y8eO7du3Hzp0qL6+vrW1lV3poKpqenp6Tk7O1q1bRa9eL3i9Do6TgNDunuEkaJ8aDE0YMmjyyFHD SooLszJTAgFCDGqwJiiArutt3d3VDY17jh7d/MPO7QcO6lSTxMk506edOXmSsPswySw8ScVPkUcR t6B8CvmZmfdedcXdzz5/vL0NrAKsrqWlurHxhOAAow8KFK0KUQCP2+31eiORCMvsjcV6o5b7MTTN 4IDS0lKOsaQqGKsGezK8QYlNsLMnHjBziV0esVisurp66dKlb731VkNDQ/9Gh0jsoCcCFHgv8oNk sYtnn8c7a9y4X507vyAzkzEjEEKo6bEJz0RV1OxwOCs1dULFkMtmzz5wrO7xN97aduAAIRprrTAr +7p5cz0uFwae8n0bTMmLbALcCeDQUAJAuYtAgMlrCqAQMnbAgKvmzn1s5UpN1/AoNF3fW1V9woBy JjwoNVoBEWxVVbfHA5EIAaIoik6pppvnZwgBTYNEAnw+X35+PjbUkrniPxEPACcmwO3iU4VCSESj 0TVr1qxYsWLDhg3t7e24UVU1ZrnLZTnmEY9DIgHRKAQCFqMdU70fb5Dle92eORNPvODkk4eVlihA gepswR2JZOsBEQwYwNDCgiduufG7ysoVa9d99+OPaaHgA9delZGSgqY/scgCYtDdIBa1CgpiRGoo Ks6hpYSQ0yaM/+Sbb3ccrMQjIgCHjjUkdOoy5gElBIASPH3YDkEK1O3x9MRi3b29ojqlEIsBpTB8 +HCfzwfI2BJ2gHSaWLGeL8bJhb077AIgvFt8AZZTU1Nzxx13rFq1CpdUVUhJgYwMSE01p7idEILS OMfqkZvFpBTw+e6+7LIzJ00UChuI2HBPuMamQmEDt9aMdXhCKQW/2z19xIjxQ4Ys/efqaDw+oqxM GDiGrScYymjK4AnKKGW0Sk2hY+Ya/EcMWQHpwcDtF55/3V8ejSXieMjHWpoTuu5SFMN4MIQOESMQ ow+FQk09Pb2xBEYkO0g6ZcoULz9DicMwdrXeT2zYEhVm7OMo+cXfWCy2cuXKBx988ODBg6JkSgqk p0NKCng8xrSW5LlEVAkY4Zf3r0NGlpXdftGFI8rKCdpcyRoGwvKIsNWMd5QQApRNMkZUPsCAx33b hedH+qKW/RfUlABEZBBoaO3aVVmrKGTc0JL0lABvXEgewhZ8DXPNAMYYTEVx0anjx6752nL9RWtn Tzyh+VwuqTvgP7VEAgAURUlLS/v+hx/wogCl0NsLhJCpU6eCzSazp5+2BKUXUmAH7x2Kx+PLli27 ++67xfYetxuKiiAtzaLXpTkN8BOktZuE+IG9yk3P+NO115Rk53AdDQhpzJg2KgHz0QFLBCEe+AAp BSAuVU0NBoRPJyYhAdOgIBS++rH68sUvHq5tAoAZ4wa/9eivs0J+20kPXpsy9mTZlABxq+rpJ564 Ydv2aDwueL2nNxKJRVN9Pmp2z5iUEKCarrPrsdLT070+X2VtnRBsAKBp0NsLoVBo9OjReCEYz1hM xGRHQ1lyWOzHP5n+YM9dXV333XffXXfdxcivqpCdDUOGQHq6abpTtLsXPyNsma/EP+iXRSiFYWXl /7jzjuLsbFacUmr8XzRlNceZ7yT8K/zDGC0eslFb/LJs39l1tPHaJS8fONqo6VTT6WffVc696YnD ja3smAcFsAyFAsoBw3OkdOSAAbkZGXjsffFoNBZHwh53D/F4PBqLud3u3NzceDxx+Fg9rsvMqfLy 8szMTEwvYv1AkWhW4am/iBC2BPEOALzi9Nxzzz322GNsc7eqQmkplJQYcT3sxYnZ3L/kt9eSeEX8 9Hv8v73skpLMTFGDGEctCOE77QRrIXscuBVHDG1AURlCCPuPmDHE2LfH4oCMdSPR+A3/9d97Dh0z EQrw7Z6qp95Yr+lUqEfeP6tNOHjcLiUkHAydNmE8RksiocV1zejUsDWMQRNCIpGIlkhkZGT4/P6u vt7a5maMkEgENA1OOOGE9PR07AUg7FmkuJ3qOMk7QYSbJ8QLpVTTtJdffnnJkiUsqMeOdKWlWVx2 u91OKaiqEvB600Oh4uysoqzswqys9JQUv9cjyuCKGFTRcsDru+uyS0EBw+kAACAASURBVEaVlOAi 1Jx85hQUtKBmc2wlmBrrLAYLEDFHKTfweJdcwlAKhFJCNn734/f7qu1Ye2/j9sb2bk5hiuJ1hFJK Catubv4lAKdNmuRxu8W4+uKJvoSGcSag0nS9rbU1HA7n5eURgOPt7W1dnYB0a0cHKIoyb948t9tN rZfK22X5TzKBS+IXbC+Ih6qqqj/+8Y9M+LtcUFZm7FSU7HmTeAAp/tDM0SOnnTBqeGlpbkaGsLZ0 SvdUH/3lX/6S0DTRAobQYg8SmD1hwtlTJiKARQVusRv+ODEUqojiGq48dESiR4+1lBVlp/g8BChz 7xHJkh7BB6AffrGrL5awv6iub3ln/bZbLpjJujLANtUOmP/hUmtgcXF+ZsbRxkaMMsq0O8G1oKuz M5FIDBw40O12USDVDY0RdKgmFoOuLigpKTnttNMIv7JKUFqoAB1dB59kdEYSx9JMZsFRfQDo7e29 55572H29LheUlppXZtgncWowZeaY0SePGTN6YHlqIKAwiciNJgBQCcnJyFAVNWGEPC3QSO5AWjDl wlNm8tYttpyJQXPBxiA5n9PQ0dv311c+een9LU2tXYXZaVeeO+03l8wK+71mT6bjh2xBlkshqumb f7DcZSHSkJLckeX5ODBg5yKCVBMFConEyIGDqhsaTYogh03USiQSsVisvLzc5XIxqfTFrp0aN+V0 HY4fBwD1iiuuYFcZSie6MCtgSSD58zi57FSXct5///0333yTlc7PT7qpS6fk5DFj7r7iF7kpKcAp Y8xJQTsClFIXAb/XE0vEwOo1mLjj83zB9KkVxcXM12cenUEyYdJLuGdBG0IIpaAof3nlk4de+JC9 qapvWfKP9xSF3Hv1mcL2pkb3FDkLVHj0jcc7D9Q4XGFXmp/x/tO3DCrgR0EZboXvQJCyMv4Q5n2U FeQrikEkn1v1uVThRwhOdLlcOTk5Yr2gLxbbuG0bcI5NJKCtDXJzcy+77DJBJjH1JZmPZbn9xieR TBkgLSWxhlpbW5cuXcrKBIOQnm5R/OK5JDf3qrlzZ48f5/e4qcGwhtNOOSoEToiiuF0uim51wIQX NC3Ly7tszhzCBTYRwRjuDVIjEExMS5/PX0rg2x+rn3vnc2m0z7392QVzJlQUZrFgDiEca6YMMAMi m7dXJhKa1MKlZ0782+0X5qan8PEYxTnWKQVpVNzcIFCYkaEoiq5rAKCqLpeiCM3J7VcwgCEAALpO X1/3aW80JnDS3g6xGJxzzjklJSV4oc7ODWCdydJCLk6WG8/EWh/lwcW9e/d+//33rGhRkXxjJ/tb mJ31t1/fcPbkyX6259c0kIllqZJb/C5FYfstJSUipZPHjUsLhbj1z6wLYhrulM8fZnhwW5m9j8YS i59a1dLeLbVZ19R+799Xa5S3Bg7L/wZUCtl9+JiGL3YCAICCrLTMcMhcxyE8mMf+GSYgwwGzS01d EAqlKtz56o32bd6xM67r2O8hwBEHhADp6On5YOuXoutEAhobIRxOu/HGG71eL7Ht3Md+PyY/zrEn 03AQ67li7T+RSLz22mtshSo93TilgH19SmFoSemTt9xSnpdHeHgT0AI6pcxOZTAa1VyKEgoE7aBQ FD9wqe4Th1ZwSQQswoZMf0oF9QUVjS6AUth3pH7T984fltjwzb6ahlYOojl7wfpT12lrR4+9+lMr N1y95KVD9cepQAFQhA8RWGDsACAmNtCA16WqCivXF4s9+c47Nz3x5MYftke1BBcmlBjDozrApp27 GttaOTxw7BgAeO6+++6KigrJ5scePzbnsSngeIYT7LvF8Wmv9vZ2driHEMjMtIT6GWFSgyl3XXZp WU4Oz2aTEXSgvb29ra2tfb29uq57fb5wOJySmqoqBADcqpoRDgmq4wZFTkZKuKKoyCCMEX8nwmTj q/HCHeBZHONbdhyK2QQ4AAT9nv/69bkF2emEGwHcheCtUsOSoDrtjjjcXx2LJ1Z89PWew/XvPPbr ATnplFsdKAhh0JuvJzFmMM0hkXRd/37//u2VB+adNOXWiy4Me33EcGGAEtIRibz00cdxvrO+uxta W2HKlBOvvfZax+9PiB0b4qeQ6FK0QEoWS1BaP/jiiy/Yop/HY5x9xO0oRPnVOfNHlJYIYBgbd3R0 NDU19fT0iAsBu7q6Wo4f9/v9WdnZGekZLperIMO4IRmZ5Ag1FCaNqAgF+GE5NqMIF7jAPXtjtd5Y WKWCKwjZffAY2NLAoqwHb1l4/qyxCrdNuP7khBemG6WEgKomPVS5/cejs675y/L7rzhlfAWf7yDW iThHU2PhkJjMClZ2BwCd6h9s3VpZc+z6c+dNGTbMraqU0K7e3r+tfKumqZFto4pEoLYWSkvL//KX v2RkZGCtL/4KpwBv3qHWJSJBaJzkCwfEs67r3333HavGbmqXLLXJI0acf/IMl8JjcoRQgPa2tsOH D3d1dQmdpKpqWlpaQWFhVnZ2NBpt72hXCZQX5Ap+EgFBHBmcOHKkC0kjPmWBGwCiIjElLTUEgU7p 4bpmaZxjKorXL7vzwlnjVKNfYrZt1hb2CiiqkpeZ5BYrAACorm89UNMkLH3CHRRuBhEAMDYamuLJ xB4eO6X0x6NH7v7Hsg+2fpnQdQDy3tYvP/n2G0b+WAyOHAG/P/3ZZ5896aSTCApgmJjhP8F6bFeK 7vTnDbKELcZ4PC6+3c3uv8ag+72eC06eoaC6FGhbW1t1dbWgPfs0R0ZGhtvtYYEBobmGl5URolLq IKgBIOjzDysqFDPFEAFGJ2Z8ASlwQozNtRQAEpre0NIptXnBnPGFmWFjMiImoHw5j7vtZqOFOenS fJVSbnoqa0IS8CZKEbwUoC+uoUPd5l82tmi879E33vjxaHXQ5/vn55s0TaMUuruhthbC4exHH/3r KaecwurirQD2Wc6S8AuSuQAimTtEcE0AiEajjTyAFbTZbbkZGcNKSwG4k04gkdAaGho0XRN+7dCh Q71eL5scHNFAiAKEFudkF2Rl1B1vtoNGAHxuX1Z2tklqw6gBtOIn3EJTNRjeIYAG0NnTKzX7X8/9 K9IX//01c4MulRobiFjowJDYyGozwkrjh5W4FCWuOS+sqQopK8hgKw9iMdrwTwhvxIDUGElPJKIZ othCeyEOY4nEPzdt4gwKzc1w7Bjk5xe+8cYbU6dOxaYcppeMQGsYIJkBKJJ5EZl0H208Hhf71Ni5 DoFnABheWpoRSjGjHxRaW1t7e3uZDeRyuQYMGGCQnwqdy1FCScgfmHHCaHCaXhQgLcXvNqUqU/KU a23KcUwENNZoMAVKNfkALkTjiT+/+NGixS/uOdpEhb1HDFfSEOKmQU+BwshBhZlpoWSIy88Kl+Zn iZCH0TfzEMTKpQkwEIDCrMy5k6cUZ+cAKEIGiAeDcBQAIBaDAwegthYAlOeffx4Lf2zeC2Ils/+x jkiWHBiE8l0l3KYw7/BniRCYNGyYqirGHALQdb25qYka4RBSWFiYmppqDMxUttzTJUB0/dRJE7xu t+kLm0oRwsGgYip5w+cWJSl3mRE8RPyVDW6UdEpXb9g28bIHPti8i28ZAWE+GEYIVw+UQDjoHz+s NFlr82aOTg35AcQAzYCHgAvMCAahQCoKC+6/4hcrH/ivZ+64bUJFBRVLVXzgoqrbDTk5QAjouv7Y Y4918+OFgNS5Xa8LW4+gE0Ik+deDWTI1CvYDMeNQvjHZrEOUvOxs5OZDX1+f8e0fCsFQKDMry2RP 4DPDmMuGLTAwL788v0ByBDgWCOHzyFjJMyYV4ULBZH+D8VGYQCEkJeCFJCnSF3t4+Uca1YH7k3zW 8BbA0BBA6dypIxX7wWCAlIDvqnOnqcwVJSBGZQyYjwYAKL+Zg+9Zo15CJg4Z8vfbb11x3+Krzjyz NDeXGh6MBRXhsHGtzmeffXbvvfeyZTlqXQkEq+7HCcuD/iWBRQtg29LlcrGPblJ+PEXwt8flCvn9 hJiWLyM/e05PS1P4TBTz0pgKnGoAJOT1jB0ymBezTAJd18RhHQ44EeLUnOZGGeYQEuB38akK6Ud6 A0A4FFBVlS8GEFuDQmyTM08amZPucLvJlNEDThhQwFW6YdbzKUnBEmpk8oqIgTN2dRNlWHHxTeee s+KexTecM9/n9mAaMUAyMyEjAzRNe/rpp19++WWx1dOuEQS2CTrOJbkMybAhe1yims/nS+UH+4zp zftK6Ho0HmdRENMHpQAUFEUJBAJITSMX22pWKwqZM2G8x+3B1hAr0dHTzS0mQRvEO5wrCJcNRrjQ MEqISkhxbnqyAQNASW66WZfBTYjOoqqUAoCma5quAdDS/Mw/3nBO0G+RKD6P+8aLZ3lcKjG9SCEE KIcWj9XYCkyAEqB90fjGbZVLXvjXgjv/ce2Dr/5z445LZ8956e7fnTdjRsDrN+tQIASKiozTlY89 9tiOHTv4K0u0XQh/BoL9vLDdyMPJ/Lo4QbEFQojb7RanEdjnEIULm9C0421tBHUjVLaiKOz7zTxM byhwpKEIYV4yhZFlpTNGjZR4HwA6eqLxRILw2QTmOisAWwlCW0KNZ8LoSBhUFaV5/XDA0PJ805gg pC8Wq6mpOVBZyb5R3dra+uO+ffv27q2prdV07drzpl1/wcniKJnP63767kvnTR2lCDUPaGiG7DIs F24aMJoJQUBGDy+7ZsGMGRMqPvh855X3Ln/qjQ2DCgt/f9mlf7nh+ryMTOwmqKqxHHP48OH77ruv r69PiHd8g7TIFOTAAoOgCz7t2FDvv/9+/AKzSXV1tbjwgd30J+ZrXkb6pGHDhOml6/pxtnCtqtnZ 2S5VBWCi2QzZmtPZMLZAISQvI2PTrp1s+UtwGACdPW5sRkoqmP4AVyt4cpl5TFpwu4pALJ54fc03 jqrPpSqLr55bkpcOAEChoaGh6siReCxWWFTEvtng9XpTUlNjsdjx48cjPT3hlNRp4wafUFFclJs+ deygxdeedd7JY13ECN6CVcMybqXCAyTmD+Aep0tV/W41HPBNGlVeWpRV29C693D9+bPHBz2eopzs KSNHdEQiNY2NmhlWAUKgqwsOHz6cl5c3bty4foxBECiw/aSSWOVJ/nqlECyKokydOpWZArGYrAh2 Hz7SG4sZQyPE4/V68FXAAh3ofB3/Z6HLkJKiqaNGGWX4m0g0+mNtnVmIAjiJL2QjIF4AAIBxw0oM GtvSsPL8UYMKWN229va6ujpN0/Ly8sKpqSpRAIiiqAF/oKi42OPxdHV1NTc3p3g9F54y7q+/WfjI TeedduJQF5O3hvIRcxtbLSDCAlbnhHI7gFmQJBDwP7t4UX5WOMGmLIXy3Nx7r7zistNPF1cDEQI5 ORAMQiKReP7555uYz8VpKV0mmIwn+lkdcL5jgsWShg4dOnToUABIJExFwGhR1djANjyxg9Nul4tt WdF1nS1mGGrWZH7T7hLjJ0DcLvc506YFfIb+E8bCN7t3J6gOgsWER8kziCkxkIXBJUFGavD315zl cVvubAKAgM+z+Np5qcEAACQS2tHqagDweDxpaWlACDV2/FEA6na52feF29vbGfpcCuFH+Clwy4QY Vr7wW9nQzFkv/m/wCuH+DCE6pYer6vOzwn/81Xyvy8V3O5KAql59xunXnXWW1+MFzvy5uaAosHfv 3rfffluQn1pX/OxqXlC2n7iQRQZIhmUgEFi0aBFroqUFNM2ciu3dPV/s3GVs0QMAgOycHLfbret6 LBo1LWFuVDM0UHPF1Nj5QQicMGDAxaeeiueKQuC7Hw92dHdzAx8fsKdcETF+BP4Ce2JUAbji7JNm jB8ijXb2pOELZo9l5SKRCNuTHwwGVbbaxsfCuJUdxxGf8rDa81xd4db5dwK4gjANWGGmItcG+jT9 uz3V0UTihEGFqab7SgHA7/VeNffMa8+apygG14VC4PdDPB5/4oknWlpaAJl+pjHOKYhvd9B56s8S FAJAQbcCs5z58+ezz9329gL76Cf33OjK9Rv319QKtPi83uzsbEppe3u7GCcVsp/v5REn76nxlmi6 riiE9Sw4p6Wrfd/RGgACYsWcTXYTiXwjrtEssjUooYR4VOWBm847YXARW5JWFTJ19MAHbzrXxWM/ mqYxuYIdFj69KVDKQqJ+v19VVUPwI3OGo4gAClqYGstgDxMmozBf1gSA+uPtew8fi2nc1eaMzABR FeXCU2acNXky60dVjRhRVVXVm2++ydZd8R5RDJVEx/4Dww4yBHNKWVnZrFmz2HNzM/AwMQBAW0/X A6+83sGyKACQ3Ly8zKys9vZ2fGGwJSGbjmOPfrVnz4sffiQu4gJD12hbxYUjyE41/8sdUWKDWRzx nlhRsuWV3z9+18XXnDNt6eJFH//j9hFlecBnpqqqrFZPT4+WSIgTBqzBaCzW1NSkKEpBQQERUkgQ 3QaZLTFCW+ec4B4CALDh6301TW3GugMWYTwFfb4/LLrsxKEV7GdaGjtxS999912GYbsHhz1AgtaN +jERFFzCgkdKmU941113sQ8eJxJw7Jj5LWQCUFlz5Nn3PogmEmxeKYSUFBfn5+fXHzsWi8WAmNIF +BSmxpEqIyLf3N7+0kdrqC4f6KcUNu/Ycby9nc9v09QXgsLQqzysy3gC4wAAgi71pvNPXnb/5ded MzXocRkDA0oAAoGAy+WiQGOxWEtLixGWA6JTvaOjo+rIEbfbXVxS4g8EiKFueMBHWB0iGEStmBU+ IRjuqxm7AuNi8d5YYv03B+LxRHd7D+cKXomYssCtKjcuWJCRmgoAimJs0921axf7FKu49wnLefaM F4jtl8xaOAC4FsDsg5lg2LBhf/zjH9m+lM5OqKkxg8Sarv/z88+eePudaMJYilEUJTc3t6SkxNge gvUeRhFn+dfWr9915IgdLACob21ZvmaNrvOteoxCyB0U+XLj4omNi1Ki23ahALhUlQU8CCHsygsx D/2BQFlZ2dChQzMzM7lAsTqivCO23dRywwsR7G3XGIb5QwGqG9uqj/cmNL2jtw8VNL1JgabhJaVz J09ieSkpoKrQ0tKCr+MA6zkfvD9AmIH9xQOWLFmCYDSrCalACBkwYMCePXsqKysBoK8PAF0BQSmt rKlpbm8fUlycEgiwiqrqcnvcPFBnTwYyv9tf+cTb78QTliMZ2Bo42tQ4bkhFXno6r0aEbSlV4Xu2 0aZtQpjHwVeVZUYHAn6fnyhKJBJh34Tr6e6OxeIJTQsEAm6XS1EUvlaEGNm0PU1RRClxHiiDg5vD YtszEPLu5j3tesqP+34875Sxg4uzCWqd8CHxMZPBZaVbduxq6+5SFOjogFiMxmKxyy67TEG3iUrk w3FDnG9Psh0gKRLWekZGxuOPP84+sE4pNDRATY2pDhKa9v6Wzdf/9YlNu3frhI/FaEvs4iVCGbF3 MU1bueGz3qi8Fw9Hj7t7e1esW6/zyhivlgGbc4YCYhTg6tWZPhQIIXl5eRVDh+bk5vr9fk3TNE3z +Xz4Mik88a25VllEcSnkupjEMUvE4olPvjowdOhwDIsFZlGWEgDICAbPmTldIYqqGns1tm/fXldn hEykkIB0FZxY402WLOsCgPiAWO8gLC8vX7FixSgevWlpgaoq0zCkFOqaGxc/t+wPz73wxe49Hd3d IubOEWcAZIRSCOypPvrdjz868qVpPFDYvHPninXr42zdASHGxDKKMbF5jzFOjH6BR6ZtfQH4fb6i oqKKoUOHVFQUFhb6fT4AMBU5Ss4LbMKFFFgk4sCgQzlK9ZVrv+0jQUqprtNediqNQ8c75QMkFIAS SqcMH56ekkqIcQ1/W1vb7t27xZZAYQxi0w9biGAiX07ySWPHZzayCRMmvPTSS2KxoKMDDhyApibT gO+N9q3f9u2dS5de++jfXlqz5kh9fTQeN2UuQkU0kVj+r496+iKirsQKIt4T1+Ir1q6rb23F+UKs cs2Jw844SICMBCHh8HUC5vBAOl1Nue/pYP5b5ZxEaBvZUVUKQODY8c6HX14zYeIkQoim6509fcAB JWYtweAGagqzMgcWFlJq6F+2i5OgsKAwBnHvYnWgn5igw93igNwMoWaYlTFu3LjVq1ffeeedGzdu 1HVd06C2FtrbISsLUlKMS+I1XTtSf2zpu++9vObj/KzMgszMrHBawOfz+/2xaLQ7Ejne2VF3/HiV 9RtTGHJsCRVkZt912cWFxgf6iNXA4rOK/WFv+K5dgUrThOcbxIVhT5mlgmQIgkOIZT6r+DqkqVvA MNuMjXIYct4GOtdgZK3auL25M3bWWWetWrVKUUjQ5xHrJ6Iq5WMVItnrcs0YPerrvXtUFdxuiEah qqpK13VVVQk6P+poEwAXCThHJJdUGgcahSQRSkVRlDFjxrz99tsPPPDA0qVL2X1x3d3Q3Q1uN2Rm QnY28INDEIlGD9UdO3zsmGRLW/Dcb/K43XdeetG0ESNMqCWtTLiI55jjjiGSzdRaT6I6btEeVeVu LLFkiIrEDCaZgxM7xzhjIIo0tHU98dqns06dPWzYsOPHj6uKEvJ7KJjepBFQJJgnDI9jzKCBQZ83 Eo2yT1A3NTXFYjGfz4d9N6EFACl0fLuYHcmyDMASg1qvERT109LSHnrooVmzZj3zzDObNm1i0Yl4 HBoaoLkZfD4IBMDnA4/H+BQG4yhdh0TCuAYtPd24Gpug8wLGXOXoDAeDv73owqkjRhh6lR8Z4XMX qIWQWB4Al7hcl3HhTw2iUCFOEIfYvQyzDJjGGlfPVPy0GPCc203GIPxeo65o7Pa/vtneq916662K ouBLtnEtxsKIdwxjpjgnJxxKiUSjLITd1dUVjUZ9Pp9ivT9eEJ7lY/FgJz+w3eLSAoPQLvY6rDld 1z0ez9y5c0899dRvv/32nnvu2bp1K/tuhKZBTw+IkKBQ5yZpKfj9xsdzpYRnoELI5WecceakSUBI Q2vnlu0Hg37vlBMGhIM+If3RRX+OJg4R9OFCh2Kk2k10QCR1utbIoSLXAkJ2c6rzF1gfvf/FztUb t886dc6YMWN0XW9tbXWpSmpQ7Aqh4j9W48J49no8RdlZ9S3H2eSJRCL4hKcJIZfcWPf/LC0g6ktt AWIoLBgAwOv1Tps2bcOGDdu3b1+3bt3333+/b9++xsbG9vZ2DV0PIJFHbDVwNs4JUAozR49ZMGM6 UHh97Tc3P/y6DvSU8RV90di86Se4VJWfSrSAzUnBKUIpdtXF7MBKl29BBYtIN24hAC5xLD0ZFY05 CnwJiFsMxmfkuISgJqAHjh3/49L3NB2uvPJKn8/X1dXV1tamKkqQ32dgAI1sDEOkEGMDnUJpZmoq 8BkVjUbj8Tj2/hmEwoaTrhJNKgOkd0KeYLNASBJxsRS+bVZV1fHjx48fPz4Wi/X19bW2tra3tzc0 NDDt4Ha7W1tbr7vuOnGIjN08JUaCCQ8Aug4DCwrvufrKVK+3qzf66CtrQwHfi0uuOHncEDc7xiWO CBjcabHXjQAMJXw9ErkPrBCxuI/iCSOFmu04Is0CMCDNz01/gqQNAUo7unsX3fPigZqmM844Y968 eYSQ3t7eSCSiupRgasAYC4uaYPAEXMZZd+LzWL7IJF0TwQEzWQGsdoDjEpHlDhFRX+IswQRSbEEI HNaN2+32er3hcFjX9dGjR4tizz77rCA/sw+SYhPApbqumz8vzesFQg7VNPk8rrys1GAo4HYpVjoh MopdpqarQM0yVFw0iDkOkPklTHfmABr2AzH9MxxmMG090SZFdyWI1oRNqun6X1es+35vdW5u7pIl S/x+PyGko6Ojs7MzNejzuRTCzRDWlrBz8CkWUztxCcYsAEwFTEF7YABn4uTw9Xnpp3jGjeKthZLY YAVE0jQNf1nGb+6FdE6njB1z8ugTWEO9ffGbL5k9bdzg6+5ffqi53TojnWWaXIDg2yetb0Uun+z2 Ytz9E5aaZb8bWBSc0YqFCwAopas2bv/bq58kNH3BggVjx45lWOro6Ojp6clIDXpdwiTuR+QYjbOL Sdls8vl8KvpsGfbb0dm0/gwllixRYelWKrHpwB5WlI6m2p0Q4AwUi8UOHjRv4/H5TMNQeAGU7xMv zMq665KL3KrKDnTkZYVnjh10wekTjzW3n/WrxzfvOAjshD2bqtgCMqQlJUD5qS8wtvKD2LLPNTO3 tsGc85yYbGubue/MaIMQsf7I2IKaM5Wa5h5DgLERmVBK4MvdR377+Dt9scSAAQPuuOMON/+wXnNz czwez0wP+dxufhkGQokpfxhrMtrqx9s7dB3icQCAtLQ0do+ESBRtFJaIgvOTcoBkUuJkp67kKQhl Y+e1WCzW1GTexsMulbcnhuXzZ87MSEkRgrysILMoO23UgIIRAwsrqxsv/cML2w7U6CC2cplACT0s pD+mIurG+sBRz54pCieYxRx9AmKJKxosQ8xKTP60RvrueuKdmsY2v9//j3/8Y8CAAQJpR48ejcfj WekpHrfKW2IyxpgfkkygAAmdHmttpdTggMzMTLaLSXgEwM04sAn8n9gjBFZxgctJDWGOE2+xy4FL soe+vj5x8zgh8gE0kQ8AaaGUmWNG49Aoy/d7XLMmDgOAjt7E2bf8/YMvdhmRdA6scPaAmtYbP6WE 7H2D0oSNiet2zircWGBN8KgwwgOLHgOXWqbrTw2Pw5jGAAQogbae3rsff+erXYcB4LLLLps+fbpA L6W0qqpK07Ty/CyPS6FGV4ZQMrZVmCxsWCWNLS0dXT2JhMEBZWVlGNsS4SWGgOQz3OAAsX4sTXds 62E1I6IION4kxABWHNFoFG8ZEiEgDAwDcu7kicW5uZwC5hKhSuD8WWNdqjJkyJCeGL3mjy8/u/qL qK4TNOesyaKrCeJvTksBMgMXUFCR7+QUPiQC07EHq3lJ+P5A8uw7n7/yry91nZ544okPPPCAz/qh oO3bt1NKB5bksLCuQXQR1+KKzsQOhf01tV29PX19oGlACJkwwYFigwAAIABJREFUYYJEUcEEdrs+ mXQHx11i5oCQXyEYAjfKMnWnr06JBhOJBAseAwAh5lU0cpAgJXzxaacRaqwmE7wtiJJh5fmXnTmx rq7ugQceCIYzb//LysVPr2po7TL9AVYQgHv7pv1nt/HE3KWWDDaJxXkfxhCCNuwrEtjFYHsPsCoy eCgWTyx/b/Mjy9fE4omRI0cuX748x7hox0gtLS0HDhwI+jwjBxagRi1n4ylQvjmNECBxXdu6e69O jU3baWlpw4YNE0TBmLdfLQxOxBXJvEmKWL8kQaxrDBR9clB65dhZsjLEugwofk4YWpGPrioUFhEA EKBul3LPtWf3dnd88803zzzzjD8QfPKN9af9+oldB+usc5BwghM+g7AFT/h/TGXBi5gzDucSvt/H aSSmLQnYSSDw0Zbddzz2dmdPX1pa2tNPPz18+HA+WAPW3bt319XV5WWFywqzwIhSGzvL7H0xNdPe 3b3j0CGgxpcFKioqxCItRvtPynx7km+etLMCoG1GWBKIZ8kvUNDnB+1MgNGJNIIyfthQoDrnDm7n G5/3IwSgJC/97OmjVq1alZKS8vnnn8+YMXP3oWPzb3vm5Q++7Ij0CVXKWcr4xoPhAnCpSg02MAxP 4wgacxipUMKCwqIgK2wIa6Gguf3H7QNKNUrXfLXvxodf7+zpS01NffXVV2fOnIl1KMPtu+++G4/H p48bnB70GwEubtQgA9YAl2H5cH1jU1sbO7qjKMr8+fOZK4ipQK1XSwpK2eezhQOk34KK4lkSMrgk /oklT7LFKMqPIYufLHlc7oqSYpbHjSwMLgUAt6pcf8HJiXj02WefHTFixJtvvrl48eLmjt5fPvDq L+5Z3tDVCwqRZzcnp7zXwxEVBL8SRgBBpTEviSzMDmTN13svX/xC/fEOAHC73QMHDkSDNWZIW1vb hg0bvB7X3GmjFEun6JmA5YWibNy+LRqP9vSApkE4HGYbuMXMNIB2CuSInGQiQRHKQzApRUnafWA/ vC6eHbcUUErdbndA3AoGoOuG5Bf/ACAjNa04M5OA2HSLzgfzfwBk8qgBV58z7aMPP1y9enVGRsZ9 9923YsWKMWPHrf1y74SLljzx+vqmjm4qzvNxAUCYcifm9OfmgvHDdCCYQDAOewiCM9de3BXO/QVg TobRQHdf7L8/+uqa+5a3dvZMnTr1lltu6e3tra6uxjRgCNm3b19VVVVeZnj8yHLQme/AewdT+YPo ikBNc/PG73/QddrRAZTCkCFDBg4ciE+JU6eYjclUVnNB5gDJdJQ2k0hHkbE0E1UA6QIshVhhr9cb Cpm3BzJPBrg6YP9GlJUEfD7hR7NhA7X+A3ABLLnx3MKs0J133nngwAGXy3Xuued+9NFHN998c/3x zt89+c/Zv3xs9cbt/PvMJvLZb8LUALPszL74OIQvB3xzELW2Q0GerNQwBbp6o/cufffXD65o7ey9 +OJL3nzzzfPPP58QIj6xiJG8bt26np6esUNL8sQlB1JHoi9KgBJN119Zs/Z4R1tvL3R2AgDMmTMn LS2NTVpBL2kdSDCE4xovTpZrScHmWYrVBYnq1HqEHaynlnC+1+vN4J/XADA+kmUxBQAGFRW7VJWa esHcWwPI86IA2UHfry48+Vhd3aOPPhqLxQghWVlZf/7zn1955ZWKocN2Haq7/N7lF/3uufc37+zo 6eWzy9DvZsjDFOhgZToijjQJ41EUEAYAYh4SiSXWfrX33FufefrNjZnZuQ899NDzzz9fUFAwePDg UChUWVmpGZfoG9jo6Oh47733dF2fO3Wkz+3itimYesekopFzpL7+ix07AOD4cdB1SE9PX7hwoX2J TkffBQF0QTD5yVtk8A9WX7qNDm82FX3YV4mkAqI1n8+Xl2ee5u/rk6uoCinITicG3vF0YOSnYsse a//yuZNPHj/49ddfX758OYPB6/Veeuml77///vXXX6+4PKs2bL/0D8tOv+mJlZ981xWLU8WQ/ZYo m7mmK/qiGP1GpBZFHw3Dn68cUwLf/Vj9i3teuPj3yz7fVnnGGWeuWbPmtttuCwaDhJDs7OycnJwf fviBfZJFTLCVK1fu2bOnKCftjCkjuIwXHEWtgskwXVd/sbmloyMWg44OAICFCxeOGDFC2v9P0I5Q C3WTB4NFMtcGpdLSvBd6HWsERwUjKQiPx1NRUSHeRiJyOMilurL5sjfFV3NZ2zQYi5Bw0PfYby9a cPvSxYsXl5eXn3766QyqsrKyv//97+eff/6yZcu++OKLb/dUX3n/SyMGFJx9ythTJ1YMLs7JSktx Kyz0a0h6QoztQrhf5keKe2yN2CEhlIIG0N0TrWtq+2Zv9Udf7Pzsux8jUX38+PHXXHPNggULQqEQ 1p6DBw/+6quvurq6UlJSGPB1dXV///vfCaU3XnhKYXaagVci7hgw4BKBEB3gm7373v3iCyC0rQ3i ccjOzr766qtdLhd22YTh5YgxwvePJzMGXQJiR7xLrEC4LeVobQpQJB+BLYgxgGIxiESkb1QQYogy 0RBys/FENeIldERZ/m2/mHPTI2/ceeedFRUVZWVlrH2Xy3XqqadOmzatsrLyhRdeWLVq1Q+VNTsP 1D7+6trCnLQJI8rOO3X86EFFBTlpbpfqMkN/yPbnU14noAPoxjdfuqqb2w9WNWzeVrm9svZwbXN3 T58OZOLEib/97W9nzpwZDofxQi0b6cCBA9euXVtTU8M+DQwA7733XmVl5aCSnEVnTSbEMj5AgzRk AaHN7R2Prnw7Go/HYsax3VmzZo0ePVrQEs9APFfF22QLRQ4cICpLigDbERRtO8GmjdS66E8wxPjx 48PhsFgdaGuTrqi0mkDU2A1BKRWCkQqNYPj5cMW8KbsO1b2wavPChQtff/11ds8BSz6fb9SoUU8+ +eQdd9zxwQcfbNq06fvvv6+qq9tf9fXrH36dEQ7mZ4XLCrIGFGeHUwIpfq/ovi8aj2taPK51dPVE emMd3b3Hmju6In3tXZGWjp54QmONDxo0aMqUKQsWLDjppJNSUlIATTiMk/Ly8lgsVlVVNXHiRACo rq5+/PHHE4nE5fOn5makGjMfDZ2iKBYFiGv6K2vXHW08RinU1UEiAZmZmbfddpvf79fRTXHCCMP4 J9Y9QtR6V1x/HCBqiqOH2MrD+0QkkSJVlGyF0tLSCRMmfPrpp6xwezvk54NY2tZ1vdNy1ljWApY9 k9wQC3rdD9+8oKru+Mdbt994443r1q2TpgIAlJSU3Hjjjddee21XV9fevXs//PDDV155pbGxsaWj Zzf/fBguLwlSGVMu16JFi6666qrhw4enpKSIdd5kFUtKSlRVra6uppT29PRce+21hw4dmjxqwK/O n6Eqls3KxBijOXgK9KOvvnr7s406pT09xqelbrrppgkTJkgw67ZbQ7E3jkWyvaQxLkctLskALEb6 0SgUrRVhzeTxeC699NJNmzaxT5UlEhCJGGdfCIGEpjW0dgBXh4ZbjOkOgCwkKtCU6vf++TcLq+tb NmzYcNppp73wwgv4Q9wCWq/X6/V6Z86cOWPGjEgksnTp0ocffpgQcuTIkcbGxra2tkgk0t3djY/c Mg82LS0tMzOztLR02LBh3d3dv/nNb6ZPnz5t2jT7wKXxsp85OTk+n+/gwYOxWGzp0qWbNm0qzEl7 +veXpgV8Bs9gHFK0JZGQHw4efGb1+5qmaRrU1YGuw7hxY66++mocB8SUxvSSjo1KENoJJ39pSuIv Sf3jAuItdiMlR0AUnj17dlFRETvzrOvQ3m5wAEsHamo0TTNuyzD4AANpCADZOAA4YUDBu0/dfPZN T61fv37RokWrVq3Kysqy40jkFBUVAcCQIUPOOeccTdMopdFoNJFIsMtExOgURfF4PG6328XOjxJS VVUVDAZ37NiRTJvaU05OTjgcbmhoePXVV//0pz/F4/G7rjxzzKAiEEaOwJVJewCAmpaWB19d0drZ TinU1kJPD7hcrnvuuafI+OACR4rTVOxHKSSD03JuEKt84d9L5MfmLvspHVeWkkDHySefLHplli1D AiGw49DhiHGElI+HGhgRnreJIWKRDIPzs/7+u0vyMsObN2+eM2fO559/3s9oy8rKKKXV1dWEEFVV XS5XMBgMh8NZWVlZWVnZ2dnsISMjIxQKeb1eY+kWICsrKzMzc8uWLZrmfB+6GLtAYDgczsnJ+fzz z++44w7Q4n+4Zu6vFkxXHX0d0weFqsam+194saq+HgDa26GtDVwu1y233DJ37lxJhkuGF9hCMhgk iRw4KbiyvQMRWACw2ASAPkyDq9ilCHtgikB8HCORgPp6s2JjW2tdS4sdOODzA/EFwUF+NqZZE4au feY3pXkZO3bsYJIA0wnDw9REVVUVxpFjv1IBn89XXl5+5MgR+/UoSTGrKOFwuLOzM9LTffuiOfde M9etqlKUifO0MabW7u6HVryx6/BhAOjthdpa0HU48cQT77rrLnZHEyAy211xLJIxaSSzXYZTgGsf PEuSLrBLfmnYduywNHny5HPPPVe8amuDSMRQhbFYbG/VUQatBTpuLZsLReYJYAYGUEoVAqMGFr7y p6uHlObW1dYuWrTovvvuY1vTMKaYbg6Hw0ePHsXaqn+pzkq6XK7i4uLu7m4c6hcFJN1HKa2rq7v3 3ns3b96cm5H619svXHz1XJ/bJeJLRuyfEHGzFlBS09x8z7Ll2yr3AdBoFKqrIR6H/Pz8v/3tb9nZ 2UzQSsYd5QmzheBI8Rb6ZQKHtUFcExAVsULFaE2GDlGMpUAgcPfdd7MLaQBA06C52VCFFPTNO3aA y4X42fZgtIiYxNr1tNGDPlp624zxQ/r6+h599NHTTjtt06ZNGDxKaWZmZn5+fl1dXQJdWyFZcHYc sVRcXByPx9mpfUm0Coyzhy1btpx99tnPPPNMWtDz7D2/uPGCmR6XCmBuUxBxaTHEY50d97y4/Nv9 +xhm6uogEoHU1NTnnntu0qRJkPz74dg4w5CAba4mG5f53WGJ8Ar6cJX0SqIxRQtTklASrgH7O2LE iPPPP18UaG0FfioctlVW7q2qosRGeQfG5VE9ENtqCABVFBiYm/7ikisvPXOiz63u3Lnzoosuuuee ew4cOCCADwQCgwYNqqur6+vrc2RizPeS3VNeXq4oyqFDh8BmHom6Bw8eXLJkyQUXXLBr586Txw95 78mb5s8Y7VIVtNJoYWGgoFPYfvDQHU89vfvIEUppIgFHj0J7O/j9/sWLF59++ukKvywIU1oQSAoG 2wdlf5CSw9cJcXO4V2nTQD/sJokQyqMTXq/3zjvvFGKAxTrYNRTdvZFn/rkqJqamaNYRbu41M9+Q lyJAYUBe5nOLf7HkhvkBn6exsfHhhx9euHDhq6++2tHRAQCqqk6YMKGtra2pqeknLQD8kxBSUFCg qmpVVZUkTtkAOzs733jjjYULFz700EPdnW2/+cXs//7TVSdWlNj74MQhAJDQ9U07dv5h2YsHa2sI AKVQXw9tbeD1eu+4446bbrrJ4/FgoYuJxZJ9i16yQSVLSTeUSV2KIyKA5of0LEqC9UCT0ZOiAEBp aelzzz2Xwn3BeBzq640jENsqK7/cvVv2ko2YORue1Q40lusIFdEDAoRA0Oe99ZJT1zxz68zxQ3Rd 371795VXXnn22WevWLGitrZ24sSJ8XicfUTLzqyYlcUDK1NUVKSqKruFVmTqun706NHXXntt/vz5 V1xxxZ7du0cOzF++5KqHbzqvIDNsBDmM3X58nhiAQldf70tr1t7z4vKmthZKgV3G0NwMiqJed911 v/vd73w+H96h6SieCTojjEchxvKTPEGw19e/zqDWw4gYJoI2lklVMPlZTjQaveWWW5YtWyaKZWVB cTEQAsNKS166+26XaU4Sbv+zsLBhNXCW4KgVsWOGcg5GS0fPf//ryz8t+6Cjuw8A3G53cXHxyJEj 165de9tttz300EMO6EjuOre1tY0ZM6awsHDDhg3s1P6OHTueffbZdevW1dXVxWIxl6r89vLTbr5o Vl5GKiEcaiO6QThwxgb22pbjf351xfeVleIL3NXV0NoKbrf75ptvvu+++/hHWuTd+ozwjoTAs1EE ZyXd4TBkwQGOFXA39soiSIwDyVKiTkGkxsbGCy64YMuWLaL9oiLIzQVK4Zyp03978QV+j5dPFREG 4qeDwbShAEQwnYBx6pfv3OEXifxQWfPwyx9/9u2PTW3mR2jz8/OvuuqqGTNmFBYWZmdnp6SksON8 ycgPAB0dHeeee25VVdVTTz317bfffvjhh3v27GFRzqy00KyJQ++6/LSxFSUEjAPElqYIEH7YvTcW +3Lvvr+vWsUuZiYEmOXf1QV+v/+Xv/zlAw88IPbUgHVyCoo4XgkgTWP9p24OMEDDvr7gL9yoUe7/ tXd1sVFcV/jcnd2d3fXa6zX+wfZiDBgEIQWKY5WoMSgSdRSUNKEhJapEI5CQEvFQVZV4iRSiSCEP kSJViVQhtS+pojRS1Ty0JRQaKIUmNnUJcUzBNibBXvD/73q9fzNz+3Bn7py5d2btpLRR5D0P9uzs nftzfr5z7r1n7jpPEhEallWVXfBFZVklb926deDAgZ6eHlbS54PGRqipAcWnHHvmRz/t+AEYhqsG 8CNbrFgBrC1VwLbANIB9mS/on90e+dX75z/46OpcmqeuE3amdCwWW79+fVNTUyKRWLt2bX19PV/z 13V9dHR0aGhoeHh4aGios7Nzeno6GAzm83nWVCwaPrC39YWDjz6wti4UDBAAa2OT+XqkqZRQAiOz s798//eXej7LFfLsfjoNd+5ANgvRaPT1118/fPhw2Hq3EqfgYnj2yswAZG/YLy+hAVQ6ZoKLTdA+ rASC+xeaBCdmCIECtbYPLly4cPjw4eHhYasGSCSgpgbKQuGfP3fw8baHQgE/2KGzKWPr0gYCZ2dY D9HZDZQQAhSoTkhPf/K3f/rk0tWBvjuj6UxONnhFUQT95jmS/I6PkKpYpKWprmPX1h8/1rapqdZP bB/E9zExUQrz6fTZq5/+5o+nJ2anWU8NA6amYGQENA0SicSJEycOHTrEDun3MkjcKyFFW7i/fHJ4 AWen7eYFBRT2AHl5bu48DOFRIe6i2TAhuq5//PHHR44cYVMsAPD5oLYW6ushrKo/e/aZZ/fsJjZD bSsn3PWD6SvshA9r/5gnf5vH8lDKPukGnZ5fvJkc/8vfPz/b2Xt9cCSTK8DyKBIK7tzc9NSe7Y9+ b0tz/apYWUghPtwXy9Vz6CIA1KD0H729v/7z6f7hYX58Zj4PySSwzM/t27efOnWqtbWVLfsY6CeD OdvlEFVACMFccZYYdxzuGsDNGkuRX+NOYEnjHlDnhjLuqPCIMBhW7Pz588eOHWOzdlaeKUEsGjry +L6n2h+J8R89pwBWrphV2AoS7WMjzUJWHEaQXMB835NSpiLpbH5odPrTm0Of37o7PDZzb3J2MZPP 5Apc4yNhtSKi1ldXNjVU7di4ZufmNXVVFWE1YOfzMB5a7dqaAJQC5DTt33fu/OHixb9du8Z+RwUA DANSKbh3DzIZKCsre+KJJ06ePLlu3TosYy6IIhjOpS77XHD+8nTxaEAEdiHQEDJFeUXUmYDA6sJ6 B5LagoQTrBJ2wMDRo0e7urrAkmpZGTQ1QXnUv3v7jl/85Lna8nK0Lex0TSa/TQFTh9MA80e/LQgA agGF9YH5Ep3SgqZruq7pNF/QrNpAVYOKjwT8irWo58ZBtGlpaR3RKe398svf/fWjKzduzKcXTN9F oFCAu3dhZgYMA2pqal577bWDBw+yuA/DLTcwzExhtiWwkSuBVz1LYACXkCAtLHJZePw+fwR/lJ2Z jA38fn9///Hjx8+ePctfMlRVaGiAigpYV7/6hf1P7d72nVAgYC4B4XmhEw/AUghC0GlDBIBSh+xN 4VtrM9TWBgvBbUSxlAWHeOYAEAgBABjUmM9kPv/iyzOdXZd7ehayGS4xTYO5ORgdhVwOwuHw3r17 X3755Z07d3JGCdArRHa8QJHsb2HKgOVSJDhwaAB2G67NYJcj144DfnBCgtB7IVxg5WdnZ996662T J0/mrMOGfT6IxaCxESqiauumzcf2/3BjopGL1nK19oE+Fqso5VNCALC8hzVrwJNJ4lIPsRYa8H+s MWClutrAAwbQmdTCue5/fXDp8t2JiWzezomm1JR9JgOUwvr160+cOPHkk09WVlYK8MlZ4Qg8naGY 1wK8633UB08lEDUA4z9PCMO+HwcdWE+x3njpkGtJvnfALs6cOfPSSy+xXAz2VCAAq1dDPA7xirL9 j3y/o+2hlkTCZdWI4BxD4BNwGzCsLxzrCTJHrOMGARm3IwxBzRoAs6lU/3DyUk/PhWvXRqdmMJ8N AxYWYGLCTPSurq5++umnjx8/zs7ols2JM0RmMpYC5q3rR5nnruIwxyE8g6eCuJfsWxz/U7eVgyWR ijrXs/CA+f1kMvnmm2+eOnWKJdsz9qsqrF4Nq1ZBZbR824YNhx7r2L5xI9ENR+4IVzIA01nY50vY UwgrdAAkUML/23npJmTYEw0bQggxAK4NDJz+pPPqwK2J2ZlsLof5SAjMzMDYGGQyYBigKEpHR8er r766bds265dcbVsXuC1MshzSclsTBGdMIHAeW697na7RPr7AQamgmDgmwJiB28aSZtdyoqncNAOD N954o7u7GydlRCJQVwfRKETC/k1r1jy2a9eOjS2NVVUVkYhPtAACgPosZZhZwGFju4kR1nccLNgi n24Y6VxuYm7uzsjoP/v6Ln362cTcrGboeBiUQj4PqRRMTpo7XvF4fNeuXS+++GJHRwfb5pG9Pjh7 zkMuGSGwpxeYLIMBZrKsGXadrhiA+yRMKoSqhQflgfGYAO8Y8fplxMMOL5VKnTt37pVXXrl58yby c6CqEI9DdTWoQV9YVVevqn5g7bo9333wwZaWeCSiKAqw0+gJCvK48M2gwJoX2Dct527pAPERg8Ji Pjc6PX1tYOBq3+2+4aHp+bnFbKagaZgBhICuw8ICTE1BKmX+8kIkEtm3bx9L8GXvzgqG7sp2UTxu Ro/r8XLEuGSRNXtgGEC9Y3UhcMONCXGc8AgeA1YFWUV8zhfQBNiglM7Nzb3zzjvvvvvu9evXMR4o CsRiUFkJoTAEA0CIryISbkkkNiYaNjQm6ldVxaPRaCQSUYNBvz/o9wf8fl49VgvDMAqalisU8pqW yRcWFhenF1JTc6nb9+5+cW9saGJ8ZGpK0wpgh5p8sFAoQDYL8/MwP2++EKcoSktLy+7du59//vnW 1tZgMCiDsyv4LylUziv5QZl18leeGGCgk6iKSBErIP5YxGnxZ+UJpNxpQAuIHCSw9szMzHR1db39 9tsXL17k8QEAEAJ+P4RCUFkJ5eWgquygGp8a8Af9ATUYKA+HwqoaVkNqMBhRgxWRCA8MDEon5ud1 3cjm89lcLp3NprO5gqblCvmCplMweE9R7A8AwF7jTaUgkwFdNw9F8Pv97e3tR48effjhhxsaGgKB gKvr5MYjT/m8vLjALkEWXvYpC8JdQIIFU2mpR1gDxpGF7PtxVeChvLiLXJmEoEHmCCumaVp3d/d7 7713+fLl27dvszx/3qiiQDgMZWUQDkMoBH6/eXQZq4Pw9Vt5Vm+zyYQHdp99peug65DPQzYLi4uQ TkM+b0o9EAjE4/ENGzbs2bNn//79W7duFfYY8copSBCNIZbfxyzF9gNuVi7gAX5WsMyvsCLkpSxY hLyM4GDknlmctf2Z61O4IUE/ZDDUNG1ycrK/v//DDz88ffr04ODgIv4lRABCwOcDRQG/H4JBCIVA VSEQgEAAFAUURcRzq10T2NmJbezIllwONA00DQzDPgDF7/fH4/H29vaOjo62trbm5uby8nKWWo6F VMTfE2u+zUvKSo8hEPtybjPCR3BDe1c8cPBKNsEihNvmjwh7ieAUMO8Z3iUSmpNnB0KdciDDqjUM Y35+vre3t7Oz88qVK4ODg8lkMpVK5fN51y1Un8+EBHbhrNAUsGHY1m895QsGg+Xl5TU1Nc3NzTt2 7Ghra2ttba2trWVuHiR5uy7R454DshbZOmWhCNIR9gYxDAvsEhbpZSKclcvcVcQDwNguOAWs1OB0 BxwSsZa43hGGIWge9lmU0mw2m06nx8fHBwYGbty4ceXKlb6+vsnJyVQqlZVPLShKhJBwOByLxaqq qrZs2dLa2rpp06bNmzdXVlZWVFQwnJetDW/GyGApkJDU5cpkjH9eSy/LqW2JwX4lDMA9wB99ztdJ BamDR5Qr4xW4qSqugY9TjhuEaimlhUJhfHx8bGxsfHw8mUxOTk5OTExMT0/rup7L5Vh6DwBEIhFF UaLRKHt5qK6urr6+vq6urq6urqqqir2q5ypsQRddpe7qvwU8t4XhXAPwqkcYqat3EGp2Zax5/+tp gKsA5IUq8MBAIoU2Ajvws0JzvEV5/Pw+hhBcLb8uFAos9YMQwk7nZQ8K/ohXiL2S0Iqr8uGnKIp+ sJF42QBIWypymgUfuAA8ApMBSdZTA+Q1wWWSvFnJm8dwLbsJPFTMTUHBQUIRkPwrZ5C8OyWAZJEV ScGJ4jG6wpLg5mT9EMZI3CZ+cvcEMQvzLOKxOyzvC2O24GeXmAssPw7A3MG2KMOOIF0sWlxAhhDZ 4uXwApy6AtJ0CNcsW6rcGXAikytWFWmxSBneW9eahesiJBQTauYFBHHwj17ydX9vcDmER4Jt2q5a Os4Kl/SqUFARrqB4/Hh4PreXZsD7PHVWWBivqxJjYHBVCHnIuGO4TgHzQNJyV3Kd/sh3ZNkR54kh xdsi1MoULd4bmYSxuaok/+u6cyUDpnwHjwqcFuYKBsUNEZwywCVdeSRDDr6WAcbrWZm8gFMYEeeh YG+u3+LK5WU6r84sC3+8yFUS4EwQFUykiKrJ5rUcKqLqm3rGAAAAs0lEQVS+smyKSBqW8pdfqduC O8NswXdkVJe9JK52mczx8gWudD81oEScBBkUlzdHFPBGBfzUkiRH3P8rDSjRfSScKPU1nLJA3FnA Unrj/svTJfr/E4eB+4KpxR2uo90SBnzjhGPq/976wTnn4lNWr8IlDPjm6T6aPifX9Tf31ksYsMLp PmBOib7VdP81oAQq3y4qYcBKp1IcsNKphAErnUoasNKppAErnUoasNKppAErnf4D6pbTm32wEQMA AAAASUVORK5CYII= '),
	[sex] [varchar](2) NOT NULL DEFAULT ('-'),
	[classes] [varchar](10) NOT NULL,
 CONSTRAINT [PK_student_user] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_user]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login_id] [varchar](50) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[task]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[task](
	[task_id] [int] NOT NULL,
	[task_name] [varchar](50) NULL,
 CONSTRAINT [PK_task] PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Trigger [dbo].[delete]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[delete]
on [dbo].[student_user]
after delete
as
begin
	declare @account varchar(10)
	select @account=student_id from deleted
	delete from student_task where account=@account
end
GO
/****** Object:  Trigger [dbo].[register]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[register]
on [dbo].[student_user]
after insert
as
begin
	declare @account varchar(10)
	select @account=student_id from inserted
	insert into student_task(account) values(@account)
end

GO
/****** Object:  Trigger [dbo].[publish_task]    Script Date: 2016/5/22 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[publish_task]
   ON  [dbo].[task]
   AFTER UPDATE
AS 
BEGIN
	update student_task 
	set
	task0=0,task1=0,task2=0,task3=0,task4=0,task5=0,task6=0,task7=0,task8=0,task9=0
END

GO
